.wrapper {
  padding: 24px;
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(36px);
  font-weight: 900;
  line-height: 1.1;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: calc(var(--mantine-spacing-xl));
  }
}

.item {
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-lg);
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
