.wrapper {
  display: flex;
  align-items: center;
  color: var(--mantine-color-black);
}

.icon {
  margin-right: var(--mantine-spacing-md);
  background-color: transparent;
}

.title {
  color: var(--mantine-color-gray-9);
}

.description {
  color: var(--mantine-color-black);
}
