.background {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #0f1a27 0%, #050607 100%);
}

.stars1,
.stars1:after {
  opacity: 0.7;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1023px 1231px #fff,
    1875px 481px #fff,
    1149px 1033px #fff,
    825px 745px #fff,
    512px 1564px #fff,
    1738px 1302px #fff,
    905px 1913px #fff,
    1301px 1105px #fff,
    1735px 1368px #fff,
    116px 1010px #fff,
    572px 1275px #fff,
    1816px 949px #fff,
    1106px 234px #fff,
    200px 1725px #fff,
    468px 1157px #fff,
    299px 1980px #fff,
    1137px 541px #fff,
    988px 1465px #fff,
    369px 143px #fff,
    971px 787px #fff,
    1941px 937px #fff,
    629px 94px #fff,
    936px 653px #fff,
    1424px 1203px #fff,
    494px 1121px #fff,
    1450px 1045px #fff,
    374px 1485px #fff,
    938px 1953px #fff,
    92px 1555px #fff,
    1397px 1862px #fff,
    1224px 1397px #fff,
    1369px 108px #fff,
    172px 320px #fff,
    1432px 1467px #fff,
    1685px 1255px #fff,
    1478px 336px #fff,
    924px 515px #fff,
    948px 358px #fff,
    537px 738px #fff,
    824px 1643px #fff,
    1958px 1508px #fff,
    1195px 1828px #fff,
    1620px 1660px #fff,
    1282px 601px #fff,
    1898px 802px #fff,
    1332px 1022px #fff,
    1273px 1699px #fff,
    1845px 1017px #fff,
    1254px 1012px #fff,
    428px 112px #fff,
    1936px 1718px #fff,
    847px 758px #fff,
    343px 663px #fff,
    1756px 347px #fff,
    1851px 926px #fff,
    706px 60px #fff,
    931px 1885px #fff,
    1775px 1658px #fff,
    1775px 480px #fff,
    667px 1011px #fff,
    496px 1687px #fff,
    1452px 177px #fff,
    404px 1439px #fff,
    1127px 1045px #fff,
    775px 2002px #fff,
    605px 642px #fff,
    599px 1194px #fff,
    234px 1095px #fff,
    228px 1416px #fff,
    1313px 719px #fff,
    1000px 929px #fff,
    1757px 90px #fff,
    705px 514px #fff,
    949px 746px #fff,
    146px 101px #fff,
    1942px 987px #fff,
    268px 1233px #fff,
    1155px 967px #fff,
    1688px 1187px #fff,
    731px 470px #fff,
    986px 1300px #fff,
    122px 1852px #fff,
    1914px 1665px #fff,
    1665px 821px #fff,
    878px 711px #fff,
    1201px 121px #fff,
    546px 1702px #fff,
    1242px 530px #fff,
    1954px 1807px #fff,
    1131px 1688px #fff,
    1004px 752px #fff,
    92px 205px #fff,
    1004px 605px #fff,
    1305px 91px #fff,
    1715px 396px #fff,
    703px 1447px #fff,
    1357px 303px #fff,
    319px 1352px #fff,
    89px 1104px #fff,
    118px 331px #fff,
    738px 1311px #fff,
    835px 1444px #fff,
    55px 835px #fff,
    1717px 1346px #fff,
    1534px 152px #fff,
    1767px 1607px #fff,
    1995px 1245px #fff,
    1875px 725px #fff,
    1956px 432px #fff,
    1501px 1365px #fff,
    347px 656px #fff,
    1467px 1083px #fff,
    1378px 862px #fff,
    366px 852px #fff;
  animation: animStar 50s linear infinite;
}

.stars1:after {
  content: ' ';
  position: absolute;
  top: 2000px;
}

.stars2,
.stars2:after {
  width: 2px;
  height: 2px;
  opacity: 0.7;
  background: transparent;
  box-shadow:
    1598px 1812px #fff,
    1037px 303px #fff,
    1545px 1551px #fff,
    646px 678px #fff,
    1927px 643px #fff,
    1804px 1405px #fff,
    1186px 1849px #fff,
    999px 708px #fff,
    1021px 147px #fff,
    1132px 1009px #fff,
    107px 1860px #fff,
    1451px 718px #fff,
    1665px 347px #fff,
    1827px 828px #fff,
    1103px 211px #fff,
    1253px 269px #fff,
    1864px 1771px #fff,
    1955px 1521px #fff,
    334px 1347px #fff,
    306px 1975px #fff,
    586px 164px #fff,
    1019px 1447px #fff,
    186px 1488px #fff,
    1762px 1516px #fff,
    1658px 1391px #fff,
    1955px 1778px #fff,
    1411px 1590px #fff,
    798px 771px #fff,
    1044px 1461px #fff,
    758px 1462px #fff,
    1396px 1651px #fff,
    1886px 1518px #fff,
    434px 1443px #fff,
    1872px 1798px #fff,
    1772px 1348px #fff,
    775px 1789px #fff,
    1019px 1019px #fff,
    566px 347px #fff,
    1762px 823px #fff,
    984px 1323px #fff,
    1142px 1565px #fff,
    156px 1987px #fff,
    1667px 731px #fff,
    802px 778px #fff,
    1990px 1376px #fff,
    1788px 109px #fff,
    1564px 1795px #fff,
    1175px 1611px #fff,
    1424px 94px #fff,
    368px 1006px #fff,
    1338px 1258px #fff,
    1622px 717px #fff,
    915px 1709px #fff,
    1364px 1961px #fff,
    396px 1093px #fff,
    1605px 1864px #fff,
    1333px 490px #fff,
    823px 1484px #fff,
    1878px 1673px #fff,
    686px 594px #fff,
    398px 1228px #fff,
    1348px 1091px #fff,
    1707px 723px #fff,
    103px 858px #fff,
    657px 201px #fff,
    1225px 964px #fff,
    1175px 211px #fff,
    1525px 241px #fff,
    722px 1054px #fff,
    952px 1115px #fff,
    1207px 1899px #fff,
    1914px 1297px #fff,
    1762px 597px #fff,
    1801px 1038px #fff,
    476px 879px #fff,
    1567px 1224px #fff,
    308px 837px #fff,
    1337px 348px #fff,
    1319px 1268px #fff,
    503px 189px #fff,
    1642px 1441px #fff,
    497px 1442px #fff,
    841px 509px #fff,
    620px 919px #fff,
    418px 604px #fff,
    1333px 1781px #fff,
    1068px 1715px #fff,
    1207px 155px #fff,
    857px 1105px #fff,
    1742px 971px #fff,
    687px 942px #fff,
    1738px 1994px #fff,
    696px 1371px #fff,
    1985px 1434px #fff,
    417px 582px #fff,
    722px 1102px #fff;
  animation: animStar 100s linear infinite;
}

.stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
}

.stars3,
.stars3:after {
  width: 3px;
  height: 3px;
  opacity: 0.7;
  background: transparent;
  box-shadow:
    510px 69px #fff,
    1493px 1202px #fff,
    1043px 1874px #fff,
    959px 1107px #fff,
    1058px 1589px #fff,
    1751px 1939px #fff,
    942px 154px #fff,
    842px 398px #fff,
    535px 1890px #fff,
    1148px 1353px #fff,
    168px 1708px #fff,
    1846px 1862px #fff,
    1725px 1583px #fff,
    571px 962px #fff,
    1351px 1318px #fff,
    1860px 306px #fff,
    1155px 1301px #fff,
    408px 812px #fff,
    957px 1184px #fff,
    1122px 1735px #fff,
    1816px 254px #fff,
    1563px 1318px #fff,
    1328px 1485px #fff,
    1810px 244px #fff,
    392px 1273px #fff,
    1272px 703px #fff,
    202px 1117px #fff,
    1586px 1638px #fff,
    1263px 1750px #fff,
    1712px 1070px #fff,
    726px 837px #fff,
    119px 1087px #fff,
    1782px 737px #fff,
    374px 1886px #fff,
    1004px 1865px #fff,
    1968px 1767px #fff,
    1612px 1286px #fff,
    777px 1070px #fff,
    1745px 432px #fff,
    1983px 1787px #fff,
    1514px 1108px #fff,
    918px 115px #fff,
    1676px 123px #fff,
    1308px 1127px #fff,
    870px 1518px #fff,
    994px 945px #fff,
    1283px 1218px #fff,
    1376px 1861px #fff,
    1370px 1210px #fff,
    961px 1204px #fff,
    189px 1994px #fff,
    1780px 1792px #fff,
    1985px 878px #fff,
    1802px 1260px #fff,
    775px 1287px #fff,
    1335px 1234px #fff,
    391px 1511px #fff,
    882px 460px #fff,
    624px 1605px #fff,
    1733px 1848px #fff,
    1256px 1751px #fff,
    372px 1331px #fff,
    186px 1441px #fff,
    1040px 1798px #fff,
    830px 1135px #fff,
    1935px 1878px #fff,
    1495px 1004px #fff,
    1170px 1808px #fff,
    1864px 1093px #fff,
    105px 161px #fff,
    1986px 1497px #fff,
    1012px 1225px #fff,
    1376px 1102px #fff,
    689px 1481px #fff,
    1225px 1934px #fff,
    1245px 1296px #fff,
    1942px 1191px #fff,
    1804px 302px #fff,
    1748px 817px #fff,
    1312px 1425px #fff,
    566px 635px #fff,
    1823px 1780px #fff,
    641px 1685px #fff,
    1595px 1447px #fff,
    1032px 1080px #fff,
    778px 1682px #fff,
    1794px 1576px #fff,
    1169px 1557px #fff,
    334px 1318px #fff,
    679px 1556px #fff;
  animation: animStar 150s linear infinite;
}

.stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
}

@keyframes animStar {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(-2000px);
  }
}
