name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      NODE_OPTIONS: "--max_old_space_size=8192"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Prepare environment
        run: |
          touch .env
          echo GH_COMMIT_SHA="${{ github.event.pull_request.head.sha }}" >> .env
          echo CODECOV_TOKEN="${{ secrets.CODECOV_TOKEN }}" >> .env
          for app in apps/visualizer-be apps/xcm-api; do
            echo DATABASE_URL="file:./dev.db" > $app/.env
          done

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm build

      - name: Compile project
        run: pnpm compile

      - name: Run formatting & linting
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            pnpm lint:check || \
            pnpm turbo run lint --concurrency=1 --force
            pnpm turbo run format:write --force
          else
            pnpm lint:check
            pnpm format:check
          fi

      - name: Commit auto-fixes
        if: ${{ github.event_name == 'pull_request' }}
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "chore: auto-fix formatting & lint"

      - name: Run tests
        run: pnpm test:cov

      - name: Upload XCM SDK core coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/sdk-core
          flags: xcm-sdk-core
      - name: Upload XCM SDK coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/sdk
          flags: xcm-sdk
      - name: Upload XCM SDK PJS coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/sdk-pjs
          flags: xcm-sdk-pjs
      - name: Upload Assets coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/sdk-common
          flags: sdk-common
      - name: Upload Assets coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/assets
          flags: assets
      - name: Upload Pallets coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/pallets
          flags: pallets
      - name: Upload XCM Analyser coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/xcm-analyser
          flags: xcm-analyser
      - name: Upload XCM Router coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: packages/xcm-router
          flags: xcm-router
      - name: Upload Visualizer BE coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: apps/visualizer-be
          flags: visualizer-be
      - name: Upload XCM API coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: apps/xcm-api
          flags: xcm-api
