on:
  push:
    branches:
      - main

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      sdk_core_released: ${{ steps.release.outputs['packages/sdk-core--release_created'] }}
    steps:
      - id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}

  publish_packages_and_deploy_websites:
    needs: release-please
    if: needs.release-please.outputs.releases_created == 'true'
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Prepare environment
        run: |
          for app in apps/xcm-api apps/visualizer-be; do
            echo DATABASE_URL="file:./dev.db" > $app/.env
          done

      - name: Build project
        run: pnpm build

      - name: Compile project
        run: pnpm compile

      - name: Check lint
        run: pnpm lint:check

      - name: Check formatting
        run: pnpm format:check

      - name: Run tests
        run: pnpm test

      - name: Configure npm auth
        run: pnpm config set '//registry.npmjs.org/:_authToken' "${NODE_AUTH_TOKEN}"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish packages
        run: pnpm publish -r --no-git-checks --access=public

      - name: Publish Playground
        run: pnpm exec netlify deploy --no-build --prod --site paraspell-playground --filter @paraspell/playground

      - name: Publish Visualizer FE
        run: pnpm exec netlify deploy --no-build --prod --site xcm-visualizer --filter visualizer-fe

      - name: Publish ParaSpell Website
        run: pnpm exec netlify deploy --no-build --prod --site paraspell --filter @paraspell/site

      - name: Publish LightSpell Website
        run: pnpm exec netlify deploy --no-build --prod --site lightspell-site --filter @paraspell/lightspell-site

  deploy_xcm_api_and_visualizer_be:
    needs: release-please
    if: needs.release-please.outputs.sdk_core_released == 'true'
    runs-on: self-hosted
    steps:
      - name: Pull latest changes
        run: git pull

      - name: Install dependencies
        run: pnpm install

      - name: Build XCM API
        run: pnpm --filter xcm-api... build

      - name: Build Visualizer BE
        run: pnpm --filter visualizer-be... build

      - name: Restart PM2 process
        run: |
          pm2 reload xcm-api
          pm2 reload visualizer-be
        env:
          PM2_HOME: /${{ secrets.USER }}/.pm2
